# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/keramika-site-studio_backend/node_modules
/keramika-site-studio_front/node_modules
/keramika-site-studio_backend/.pnp

# testing
/coverage

# production
/keramika-site-studio_front/build

# misc
/keramika-site-studio_backend/.env

